/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */

body {
    background-color: #f1f1f1;
    font-family: sans-serif;
}

div.home-container { 
	background: url(home-background.jpg) center center fixed;
	background-size: cover;
	position: relative;
	min-height: 140vh;
	max-width: relative;
	margin: auto;
}

div.container { 
	position: relative;
	min-height: 100vh;
}

/* >>> IMPORTANT: you have to change the wrap of the content of your home page (index) in a div with a class home-container to make it work. If you used a div with the class container on your home, you’ll only need to change the name of the class. And you need a div with the class container and all the other pages.  */


main { 
	padding: 0 1em 4em;
	}

img {
    width: 100%; /*Please leave this line.*/
     display: block;
}


header {
	display: grid;
	grid-template-columns: 1fr 1fr;
	background:#cccccc; 
    font-family: sans-serif;
	padding: 1.5em 1em;
	align-items: center;
	}



h1 {
	width: 9em;
	}

h2, h3, h4 {
	font-weight: bold;
	}

h2 {
	font-size: 1.5em;
	margin: 1em 0em 0.5em;
	}
	
h3 {
	font-size: 1.2em;
	margin: 1em 0em 0.5em;
}


a {
	text-decoration: none;
	}

nav ul  {
	text-align: right;
	}
	
ul li 	{
	list-style-type: none;
}

figure {
	margin-bottom: 0em;
	margin-top: 2em;
}

main.menu ul {
		margin: 2em 0em;
}	

main.menu ul li {
		margin: 1em 0em 2em;
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: auto auto;
}	

p {
	margin:1em 0 1em;
	}
	
p.description {
	grid-column: 1/3;
	margin: 0;
	}
	
p.price {
	grid-row: 1/2;
	grid-column: 2/3;
	color: #c50000;
	text-align: right;
	margin: 0;
	}
	
nav ul li {
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 2em;
	text-align: right;
	}

ul li {
		list-style-type: none;
		margin-bottom: .4;
	  }
	
nav ul li a {
	font-size: 1em;
	color: #ffff00;
	background-color: #0839ff;
	padding: .6em .6em .6em;

	}
	

p.slogan {
	font-size: 4em;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-style: italic;
	margin: .5em .5em .5em;
	color: #ffffff;	
	}
	
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem; 
  box-sizing: border-box;
  padding: 1em 1em;
  background: #ffff00;
}

address {
	color: #ffc505;
	margin: 1em 1em 1em;
	padding-top: 1em;
	}

footer p {
	margin: 0;
}

