/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */

div.container {
    max-width: 75em;
    margin: auto;
    background-color: #FFFFFF;
}

main {
    display:grid;
    grid-template-columns: 50% 50%;
}

img{
    width: 100%;
    display: block;
    content:url("lasagna.jpg");
    margin-bottom: 1em;
}

figure{
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: start;
    margin: 0em;
}
body {
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);  
	line-height: 140%; 
	font-family: poppins, sans-serif;  
    font-weight: 400;  
    font-style: normal;
}

h1 {
    background-color: rgb(246, 135, 31);
	color: rgb(255, 255, 255); 
    line-height: 120%;
    font-family: Sutro, serif;    
    font-style: normal;
	font-weight: 700;
    font-size: 2em;
    padding: 1em .75em 0em 1em;
}
h2{
    background-color:rgb(246, 135, 31);
    color: rgb(254,220,187);
    font-family: Sutro, serif;  
    font-weight: 300;  
    font-style: normal;
    font-size: 1.5em;
    padding: 0.5em 0.5em 1em 1.4em;
}

h3{
    padding: 0.75em 1.75em 0em 0em;
    color: rgb(246, 135, 31);
    margin-bottom: 1em;
    letter-spacing: 0.1em;
    font-family: Sutro, serif;  
    font-weight: 300;  
    font-size: 1.5em ;
    font-style: normal;
    text-transform: uppercase;
    border-top: 2px solid rgb(246, 135, 31);
    margin: 2em;
    padding-top: 1em;
}

figcaption {
    padding: 1em 2em 1em;
    margin-top: 2em;
    font-family: poppins, sans-serif;  
    font-weight: 400;  
    font-style: italic;
}

ul{
    list-style-type: disc;
    margin: 1.5em;
}

li {
    margin: 1em;
    padding: 0.2em;
 }

ol{
    margin:1.5em;
    margin-bottom: 4em;
}

footer {
    background-color: rgb(246, 135, 31);
	color: rgb(255, 255, 255); 
    padding: 1em 2em;
}